@{
    ViewData["Title"] = "Skills";
}
<h1>Skills</h1>
<ul>
    <li>C#, ASP.NET Core API, ASP.NET MVC, Blazor</li>
    <li>Entity Framework, SQL Server, Redis</li>
    <li>JavaScript, HTML, CSS</li>
    <li>Azure, GitHub, Agile & Jira</li>
    <li>OOP Principles, Analytic Thinking, Team Collaboration</li>
</ul>
