@{
    ViewData["Title"] = "About Me";
}
<h1>About Me</h1>
<p>
    I’m a self-motivated and highly versatile individual with
    strong commitment for continuous improvement, growth,
    and a passion to work with professionals in providing
    world-class technology services.
</p>
