@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>
<p>
    <strong>Address:</strong><br />
    21 Oyesiku Street, Alapere, Ketu, Lagos State, Nigeria
</p>
<p><strong>Phone:</strong> +234 703 501 784</p>
<p><strong>Email:</strong> excellentmmesoma6@gmail.com</p>
<p><strong>GitHub:</strong> <a href="https://github.com/Smartvik2">github.com/Smartvik2</a></p>
