@{
    ViewData["Title"] = "Home";
}
<h1>Welcome To My CV</h1>
<p> I’m <strong>Ugwuja Mmesoma</strong>, a self-motivated and highly versatile C# Developer committed to continuous improvement and world-class tech services. Explore my CV</p>
