<nav>
    <ul class="nav">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-action="About">About</a></li>
        <li><a asp-action="Experience">Experience</a></li>
        <li><a asp-action="Projects">Projects</a></li>
        <li><a asp-action="Skills">Skills</a></li>
        <li><a asp-action="Education">Education</a></li>
        <li><a asp-action="Contact">Contact</a></li>
        <li><a asp-action="TaxCalculator">Tax Calculator</a></li>
    </ul>
</nav>
